---
import Layout from "../layout/Layout.astro";
import IcbTabView from "../components/IcbTabView.astro";
import IcbTabPanel from "../components/IcbTabPanel.astro";
import { Prism } from "@astrojs/prism";

const sample = `
<IcbTabView>
  <IcbTabPanel header="header 1">
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam
      cumque, inventore atque dicta exercitationem quasi libero odit omnis
      labore cum similique perferendis nostrum distinctio non quam magnam,
      sequi illo facilis.
    </p>
  </IcbTabPanel>

  <IcbTabPanel header="header 2">
    <p>
      Far far away, behind the word mountains, far from the countries
      Vokalia and Consonantia, there live the blind texts. Separated they
      live in Bookmarksgrove right at the coast of the Semantics, a large
      language ocean.
    </p>
  </IcbTabPanel>

  <IcbTabPanel header="header 3">
    <p>
      One morning, when Gregor Samsa woke from troubled dreams, he found
      himself transformed in his bed into a horrible vermin. He lay on his
      armour-like back, and if he lifted his head a little he could see his
      brown belly, slightly domed and divided by arches into stiff sections.
    </p>
  </IcbTabPanel>
</IcbTabView>
`;
---

<Layout title="DrTeleport">
  <IcbTabView>
    <IcbTabPanel header="header 1">
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam
        cumque, inventore atque dicta exercitationem quasi libero odit omnis
        labore cum similique perferendis nostrum distinctio non quam magnam,
        sequi illo facilis.
      </p>
    </IcbTabPanel>

    <IcbTabPanel header="header 2">
      <p>
        Far far away, behind the word mountains, far from the countries Vokalia
        and Consonantia, there live the blind texts. Separated they live in
        Bookmarksgrove right at the coast of the Semantics, a large language
        ocean.
      </p>
    </IcbTabPanel>

    <IcbTabPanel header="header 3">
      <p>
        One morning, when Gregor Samsa woke from troubled dreams, he found
        himself transformed in his bed into a horrible vermin. He lay on his
        armour-like back, and if he lifted his head a little he could see his
        brown belly, slightly domed and divided by arches into stiff sections.
      </p>
    </IcbTabPanel>
  </IcbTabView>

  <h3 class="mt-8">Usage:</h3>

  <pre class="mt-4 rounded-2xl">
    <Prism lang="html" code={sample} />
  </pre>
</Layout>
