---
import IcbTeleport from "./IcbTeleport.astro";

type Props = {
  // the selector used to find the element in the DOM
  activator: string;
  // the event we should listen to activate the dialog
  activatorEvent: string;

  deactivator: string;
  deactivatorEvent: string;
  // TODO: add option to disallow closing the dialog when clicking on the overlay
};

const { activator, activatorEvent, deactivator, deactivatorEvent } =
  Astro.props;
---

<IcbTeleport destination="body">
  <icb-dialog
    data-activator={activator}
    data-activator-event={activatorEvent}
    data-deactivator={deactivator}
    data-deactivator-event={deactivatorEvent}
    class="absolute top-0 left-0 right-0 bottom-0 z-50"
    style={{ display: "none" }}
  >
    <div
      data-target="icb-dialog.overlay"
      data-action="click:icb-dialog#dispose"
      class="bg-gray-200/50 flex justify-center items-center h-full"
    >
      <div
        data-target="icb-dialog.dialog"
        data-action="click:icb-dialog#handleContentClick"
        class="rounded-2xl max-w-lg bg-white p-8"
      >
        <slot name="header" />
        <slot />
        <slot name="footer" />
      </div>
    </div>
  </icb-dialog>
</IcbTeleport>

<script src="../web-components/IcbDialog.ts"></script>
