---
import IcbDashboard from "../components/IcbDashboard.astro";

type Props = {
  title: string;
};

const { title } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />

    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
    />

    <link rel="stylesheet" href="prism.css" />

    <title>{title}</title>
  </head>
  <body>
    <IcbDashboard>
      <div slot="sidebar" class="flex flex-col gap-1 p-8">
        <a href="/">
          <h3 class="block bg-purple-100 text-center p-4 rounded-md">
            Astro Catalyst
          </h3>
        </a>

        <a
          class="rounded-md cursor-pointer hover:bg-purple-50 px-8 py-3"
          href="/dialog"
        >
          Dialog
        </a>

        <a
          class="rounded-md cursor-pointer hover:bg-purple-50 px-8 py-3"
          href="/focus-trap"
        >
          Focus Trap
        </a>

        <a
          class="rounded-md cursor-pointer hover:bg-purple-50 px-8 py-3"
          href="/tab-view"
        >
          Tab View
        </a>
      </div>

      <slot />
    </IcbDashboard>
  </body>
</html>
